<!--
Example launch file: launches the autocalibration
-->

<launch>
   <arg name="camera_data" default="/home/shyreckdc/catkin_ws/src/shadow_calibration/demo/sr300_1920.xml" />
   <arg name="image_topic" default="/camera/color/image_raw" />
   <arg name="camera_optical_frame" default="/camera_color_optical_frame"/>
  <node name="pubboardextImage" pkg="shadow_calibration" type="pubboardextImage" 
       args="7 5 24  $(arg camera_data) $(arg image_topic) $(arg camera_optical_frame)"/>
  <node name="showImage" pkg="shadow_calibration" type="showImage" 
       args="7 5 24  $(arg camera_data) $(arg image_topic) $(arg camera_optical_frame)"/>
  
</launch>
